<p-menubar [model]="menubarItems">
    <ng-template pTemplate="start">
        <i class="pi pi-apple px-2"></i>
    </ng-template>
    <ng-template pTemplate="end">
        <i class="pi pi-video px-2"></i>
        <i class="pi pi-wifi px-2"></i>
        <i class="pi pi-volume-up px-2"></i>
        <span>{{curDatetime | date: 'medium'}}</span>
        <i class="pi pi-search px-2"></i>
        <i class="pi pi-bars px-2"></i>
    </ng-template>
</p-menubar>
<div class="dock-window dock-advanced">
    <p-dock [model]="dockItems" position="bottom">
        <ng-template pTemplate="item" let-item>
            <img [src]="item.icon" [alt]="item.label" width="100%" />
        </ng-template>
    </p-dock>

    <p-toast position="top-center" key="tc" />

    <p-dialog 
        [(visible)]="displayFinder" 
        [breakpoints]="{ '960px': '50vw' }" 
        [style]="{ width: '30vw', height: '18rem' }" 
        [draggable]="false" 
        [resizable]="false">
            <p-tree [value]="nodes" />
    </p-dialog>

    <p-dialog 
        [maximizable]="true" 
        [(visible)]="displayTerminal" 
        [breakpoints]="{ '960px': '50vw' }" 
        [style]="{ width: '30vw' }" 
        [draggable]="true" 
        [resizable]="true">
            <p-terminal 
                welcomeMessage="Marcohard Windows [Version 10.0.12345.6789]" 
                prompt="$" />
    </p-dialog>

    <p-dialog 
    [maximizable]="true" 
    [(visible)]="displayWebBrowser" 
    [breakpoints]="{ '960px': '50vw' }" 
    [style]="{ width: '30vw' }" 
    [draggable]="true" 
    [resizable]="true">
    <app-web-browser />
    </p-dialog>

    <p-galleria
        [showThumbnails]="false"
        [showThumbnailNavigators]="false"
        [showItemNavigators]="true"
        [(visible)]="displayGalleria"
        [circular]="true"
        [responsiveOptions]="responsiveOptions"
        [containerStyle]="{ 'max-width': '850px' }"
        [circular]="true"
        [fullScreen]="true">
        <ng-template pTemplate="item" let-item>
            <img [src]="item.itemImageSrc" style="width: 100%; display: block;" />
        </ng-template>
    </p-galleria>
</div>

<div class="card flex justify-content-center gap-2">
    <p-confirmDialog />
</div>