<div class="container">
    <p-messages class="auth-msg" [(value)]="messages" [enableService]="false"/>
    <div class="form-container">
        <form [formGroup]="form" class="form-group" (ngSubmit)="form.valid && onSubmit()">
          <div class="card">
          </div>
            <div class="input-container">
                <label for="username">Username</label>
                <input id="username" type="text" pInputText formControlName="username"/>
            </div>
            <div class="input-container">
                <label for="password">Password</label>
                <p-password formControlName="password" [toggleMask]="true" [feedback]="false" inputStyleClass="form-input"/>
            </div>
            <button
              pButton
              pRipple
              label="Log in"
              type="submit"
              [disabled]="!form.valid || isSignin"
              
            >
            <p-progressSpinner class="small-progress-bar" ariaLabel="loading" *ngIf="isSignin" strokeWidth="8"  />
          </button>
          </form>
    </div>

  </div>
