@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

:root {
    font-size: 13px;
    button {
        padding: 0.5rem 1rem;
    }
}

.small-progress-bar .p-progress-spinner {
    width: 14px;
    height: 14px;
    top: 2px;
    left: 5px;
}